body{
    background: rgb(77, 158, 152);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(126, 62, 62);
    text-align: center;
}
.about {
    color: mediumseagreen;
    text-align: left;
    text-emphasis: bold;
}
.skills{
    color: chocolate;
    text-align: left;
}
.projects{
    color: indianred;
    text-align: left;
}
.contact{
    color: navajowhite;
    text-align: left;
}
.project img{
    width: 120px;
    height: 160px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}